@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active[data-active] {
  background-color: var(--mantine-color-gray-2) !important;
  color: var(--mantine-color-gray-8) !important;
}

.empty-star path {
  fill: var(--mantine-color-gray-2) !important;
}

.full-star path {
  fill: #fdb022 !important;
}

.white-color path {
  fill: #fff !important;
}

.gray path {
  fill: #292d32 !important;
}

.primary-color path {
  fill: var(--mantine-color-blue-6) !important;
}

img {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.link {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: center calc(100% - 1px);
  background-size: 0% 1.5px;
  transition: color 120ms ease, background-size 160ms ease;
}

.link:hover {
  color: var(--mantine-color-white);
  background-size: 100% 1.5px;
}

.filter-sidebar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.filter-sidebar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
